*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Manrope";
}

body {
  background-color: #ecf2f8;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-preview {
  max-width: 73rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 1fr;
  border-radius: 1rem;
  position: relative;
}

img {
  max-width: 100%;
}

.main-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-content {
  padding: 3rem 4rem;
  background-color: #ffffff;
  border-radius: 0 1rem 1rem 0;
}

.avatar-img {
  max-width: 100%;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.description {
  font-size: 2rem;
  font-weight: bold;
  line-height: 130%;
  letter-spacing: 0.25px;
  color: #48556a;
  margin-bottom: 2.4rem;
}

.text {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0.12%;
  color: #6e8098;
  margin-bottom: 2.4rem;
}

.avatar-name {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0.12%;
  color: #48556a;
}

.avatar-date {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0.12%;
  color: #9daec2;
}

.avatar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img-wrapper {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.icon-wrapper {
  padding: 1rem;
  background-color: #ecf2f8;
  border-radius: 50%;
}

svg {
  width: 3.2rem;
  height: 3.2rem;
}

.share {
  background-color: #48556a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.4rem;
  padding: 1.8rem 4rem;
  border-radius: 1rem;
  position: absolute;
  right: -7rem;
  bottom: 8rem;
  opacity: 0;
  visibility: hidden;
}

.active {
  opacity: 1;
  visibility: visible;
}

.share-text {
  font-size: 1.3rem;
  line-height: 140%;
  letter-spacing: 2.1px;
  color: #9daec2;
}

.share-text::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 2rem;
  height: 1rem;
  background-color: #48556a;
  position: absolute;
  bottom: -1rem;
  left: 48%;
  transform: translateX(-48%);
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
  /* 
  border-width: 10px;
  border-style: solid;
  border-color: #3498db transparent transparent transparent; */
}

.main-img {
  border-radius: 1rem 0 0 1rem;
}

@media screen and (max-width: 33.5em) {
  body {
    padding: 5rem 1rem 5.5rem 1rem;
  }

  .card-preview {
    grid-template-columns: 1fr;
    grid-template-rows: 18rem 1fr;
  }

  .share {
    padding: 1.8rem 2rem;
    bottom: -5.7rem;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0 0 1rem 1rem;
  }

  .share-text::after {
    display: none;
  }

  .main-img {
    max-width: 100%;
    border-radius: 1rem 1rem 0 0;
  }
}
